<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

        * {
            font-family: 'Open Sans', sans-serif;
        }

        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            background: #111;
            background-repeat: no-repeat;
        }

        .signupSection {
            background: url(https://source.unsplash.com/TV2gg2kZD1o/1600x800);
            background-repeat: no-repeat;
            background-position: bottom;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            height: 250px;
            text-align: center;
            display: flex;
            color: white;
            box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
        }

        .info {
            width: 45%;
            background: rgba(20, 20, 20, .8);
            padding: 30px 0;
            border-right: 5px solid rgba(30, 30, 30, .8);

            h2 {
                padding-top: 30px;
                font-weight: 300;
            }

            p {
                font-size: 18px;
            }

            .icon {
                font-size: 8em;
                padding: 20px 0;
                color: rgba(10, 180, 180, 1);
            }
        }

        .signupForm {
            width: 100%;
            padding: 30px 0;
            background: rgba(20, 40, 40, .8);
            transition: .2s;

            h2 {
                font-weight: 300;
            }
        }

        .inputFields {
            margin: 15px 0;
            font-size: 16px;
            padding: 10px;
            width: 250px;
            border: 1px solid rgba(10, 180, 180, 1);
            border-top: none;
            border-left: none;
            border-right: none;
            background: rgba(20, 20, 20, .2);
            color: white;
            outline: none;
        }

        .noBullet {
            list-style-type: none;
            padding: 0;
        }

        #p_err {
            position: absolute;
            left: 20%;
            top: 65%;
            font-size: 10px;
            z-index: 999;
        }

        #join-btn {
            border: 1px solid rgba(10, 180, 180, 1);
            background: rgba(20, 20, 20, .6);
            font-size: 18px;
            color: white;
            margin-top: 20px;
            padding: 10px 50px;
            cursor: pointer;
            transition: .4s;

            &:hover {
                background: rgba(20, 20, 20, .8);
                padding: 10px 80px;
            }
        }

      
    </style>
</head>

<body>
    <%- include("nav") %>
        <div class="signupSection">

            <form action="/user/newpass" method="post" class="signupForm" >
                <h2>Add new Password</h2>
                <ul class="noBullet">
                    <li>
                        <label for="username"></label>
                        <input type="text" class="inputFields" id="username" name="password" placeholder="password"
                             required />
                    </li>
                  
                    <li id="center-btn">
                        <input type="submit" id="join-btn" name="join" alt="Join" value="Sign Up">
                    </li>
                </ul>
               
            </form>
        </div>
</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script> -->


</html>