<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("nav")%>
    <h1>Add product</h1>    
    <form action="/product/proadd" method="post">
        <input type="text" name="title" placeholder="Enter title">
        <input type="text" name="desc" placeholder="Enter description">
        <input type="url" name="img" placeholder="Enter image">
        <input type="number" name="price" placeholder="Enter price">
        <input type="submit">
    </form>
</body>
</html>