<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #products{
            display: grid;
            grid-template-columns: repeat(5,1fr);
        }
    </style>
</head>
<body>
    <%- include("nav")%>
    <div id="products"></div>
</body>
<script>
    fetch("/product/proui")
        .then((res) => res.json())
        .then((data) => {
            data.map((ele) => {
                let div = document.createElement("div")
                let h2 = document.createElement("h2")
                h2.innerHTML = `title : ${ele.title}`
                let img = document.createElement("img")
                img.src = ` ${ele.img}`
                img.setAttribute("width", "200px")
                img.setAttribute("height", "200px")
                let h4 = document.createElement("h4")
                h4.innerHTML = `description : ${ele.desc}`
                let h3 = document.createElement("h3")
                h3.innerHTML = `price : ${ele.price}`
                let btn1 = document.createElement("button");
            btn1.innerHTML = "Add to cart"
            btn1.addEventListener("click", () => cart(ele._id))

            const cart = (id) => {
                console.log(id)
                fetch(`/product/cart/${id}`, {
                    method: "POST",
                    headers: { "content-type": "application/json" },
                    body: JSON.stringify({ productID: id })
                })
                    .then((response) => response.json())
                    .then((data) => console.log(data))
            }

                div.append( img,h2, h3, h4,btn1)
                document.getElementById("products").append(div)
            })
        })
</script>
</html>