<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #ui {
            width: 80%;
            display: flex;
            grid-template-columns: repeat(3, 1fr);
            margin: 0 auto;
            justify-content: center;
        }

        #ui div {
            padding: 20px;
            border-radius: 11px;
            margin: 10px;
        }

        #user {
            padding: 10px;
            width: 20%;
            border: 1px double black;
        }

        img {
            height: 250px;
            width: 250px;
        }

        button {
            margin-top: 10px;
            margin-right: 10px;
            padding: 5px;
        }

        .d-flex {
            display: flex;
            flex-wrap: wrap;
        }

        #user h1 {
            font-size: 18px;
            text-align: center;
        }

        #user h2 {
            font-size: 14px;
            margin: 10px 0px;
            text-align: center;
        }

        .img {
            height: 150px;
            width: 150px;
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>

<body>
    <%- include("nav")%>
        <div class="d-flex">
            <div id="user"></div>
            <div id="ui"></div>
        </div>
</body>
<script src="https://kit.fontawesome.com/b9bf39324e.js" crossorigin="anonymous"></script>
<script>
    const display = (data) => {
        document.getElementById("ui").innerHTML = " "
        data.map((ele) => {
            console.log(ele.img);
            let img = document.createElement("img");
            img.src = ele.img

            let title = document.createElement("h4");
            title.innerHTML = `title :${ele.title}`
            let des = document.createElement("h5");
            des.innerHTML = `des : ${ele.desc}`
            let price = document.createElement("h5");
            price.innerHTML = `price : ${ele.price}`
            // let btn1 = document.createElement("button");
            // btn1.innerHTML = "Add to cart"
            let btn2 = document.createElement("button");
            btn2.innerHTML = "Delete"
            btn2.addEventListener("click", () => dproduct(ele._id))
            const dproduct = (id) => {
                fetch(`/product/delete/${id}`, {
                    method: "DELETE",

                })

            }
            console.log(img, "product");

            let div = document.createElement("div")
            div.append(img, title, des, price, btn1, btn2)

            document.getElementById("ui").append(div)
        })
    }
    fetch("/product/products")
        .then((response) => response.json())
        .then((response) => {
            display(response);
        });


    const ui = (data) => {
            let maindiv = document.createElement("div");
            let username = document.createElement("h1")
            username.innerHTML = `Username : ${data.name}`
            let email = document.createElement("h2")
            email.innerHTML = `Email : ${data.email}`
            maindiv.append(username, email) 
            let div = document.createElement("div")
            div.append(maindiv)
            document.getElementById("user").append(div)
    }
    fetch("/user/profiledata")
        .then((response) => response.json())
        .then((response) => {
            ui(response);
        })
        .catch((error) => console.log(error))
</script>

</html>